$color-primary: rgb(42, 139, 218);
$color-primary-dark: rgb(12, 75, 126);
$color-primary-light: rgb(68, 160, 235);

$color-grey-light-1: #faf9f9;
$color-grey-light-2: #f4f2f2;
$color-grey-light-3: #f0eeee;
$color-grey-light-4: #ccc;

$color-grey-dark-1: #333;
$color-grey-dark-2: #777;
$color-grey-dark-3: #999;

$shadow-dark: 0 2rem 6rem rgba(0,0,0,.3);
$shadow-light: 0 2rem 5rem rgba(0,0,0,.06);

$screen-xl: 75em;     // 1200px
$screen-lg: 68.75em;    // 1100px
$screen-md: 56.25em;   // 900px
$screen-sm: 37.5em;     // 600px
$screen-xs: 31.25em; // 500px

* {
    margin: 0; padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 12px;

    @media screen and (max-width: $screen-lg) {
        font-size: 8px;
    }
}

body {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    line-height: 1.6;
    color: $color-grey-dark-1;
    background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
    background-size: cover;
    background-repeat: no-repeat;
}